/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */

 html, body, #root, .app, .layout{
  padding: 0;
  margin: 0;

  height: 100%;
  min-height: 100%;
 }
